@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticons/font/Flaticon.eot");
    src: url("../fonts/flaticons/font/Flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/flaticons/font/Flaticon.woff") format("woff"),
    url("../fonts/flaticons/font/Flaticon.ttf") format("truetype"),
    url("../fonts/flaticons/font/Flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
.flaticons {
    font-family: "Flaticon", sans-serif;
    display: inline-block;
    font-style: normal;
    font-size: 35px;
    color: #FF1900;
    position: absolute;
    top: 30px;
    left: 3px;
    }
    .icon-loc:before {
        content: "\f113";
    }
    .icon-heart:before {
        content: "\f110";
    }
    .icon-sec:before {
        content: "\f114";
    }
    .icon-idea:before {
        content: "\f122";
    }
    .icon-save:before {
        content: "\f100";
    }
    .icon-tec:before {
        content: "\f104";
    }
    .icon-key:before {
        content: "\f121";
        top: -28px;
        left: -7px;
        position: absolute;
        font-size: 30px;
    }
    .icon-voice:before {
        content: "\f101";
        top: -28px;
        left: -7px;
        position: absolute;
        font-size: 30px;
    }
    .icon-apps:before {
        content: "\f108";
        top: -28px;
        left: -7px;
        position: absolute;
        font-size: 30px;
    }
    .icon-stay:before {
        content: "\f112";
        top: -28px;
        left: -7px;
        position: absolute;
        font-size: 30px;
    }
    .icon-des:before {
        content: "\f12a";
        top: -28px;
        left: -7px;
        position: absolute;
        font-size: 30px;
    }
    .icon-time:before {
        content: "\f12e";
        top: -28px;
        left: -7px;
        position: absolute;
        font-size: 30px;
    }

body {
        margin: 0;
        font-family: sans-serif;
}

* {
        box-sizing: border-box;
}

.clearfix {
        overflow: auto;
}

.container {
        display: block;
        width: 1024px;
        margin: 0 auto;
}

.header-wrapper {
        background-color: #f8fbfd;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
}

.header {
                height: 59px;
        }
.header-logo {
                float: left;
                display: block;
        }
.header-logo > img {
    width: 150px;
    padding: 8px 0 0 0;
}
ul.header-nav {
                float: right;
                padding: 0;
                margin: 0;
                list-style-type: none;
        }
ul.header-nav > li {
                display: inline-block;
        }
ul.header-nav > li > a {
                color: #8f969d;
                text-decoration: none;
                font-size: 18px;
                text-transform: uppercase;
                display: inline-block;
                padding: 19px 10px;
        }
ul.header-nav > li > a:hover{
                color: black;
        }

ul.header-nav > li.last-button > a {
                background-color: #ff6622;
                border: none;
                border-radius: 30px;
                padding: 8px 30px;
                color: #fff;
        }
ul.header-nav > li.last-button > a:hover {
                background-color: black;
        }

.product {
        background: url("../img/header-background.jpg") center no-repeat;
        height: 1000px;
        position: relative;
        margin-top: 60px;
        text-align: center;
}
.product-title{
                color: #374848;
                font-size: 79px;
                padding-top: 50px;
        }
.product-description {
                color: #8a9095;
                font-size: 27px;
                padding: 0 130px;
                line-height: 44px;
        }
.product-cta {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 27px;
                background-color: green;
                padding: 20px;
                border-radius: 30px;
                margin-top: 40px;
                display: inline-block;
        }
.product-image {
                position: absolute;
                width: 290px;
                height: 328px;
                bottom: 40px;
                left: 50%;
                margin: 0 0 0 -125px;
        }
.product-cta:hover{
    background-color: black;
}

.section {
    width: 100%;
    background-color: #fff;
    padding: 60px 0;
}
    .section.section-dark {
        background-color: #f8fbfd;
}
    .section  .section-title {
        color: #374048;
        font-size: 48px;
        text-transform: uppercase;
        line-height: 29px;
        text-align: center;
}
    .section .section-description {
        font-size: 20px;
        color: #969da3;
        line-height: 32px;
        text-align: center;
        width: 700px;
        margin: 30px auto 0 auto;
        position: relative;
        padding-bottom: 60px;
}
    .section .section-description::after {
        content: "";
        position: absolute;
        bottom: 28px;
        left: calc(50% - (80px/2));
        width: 80px;
        height: 6px;
        background-color: #eee;
}

.product-section {}
    .product-section .product-section-watch {
        background: url("../img/apple-watch-2.png") center no-repeat;
        width: 347px;
        height: 499px;
        margin: 0 auto;
        position: relative;
}
    .product-section .product-section-watch > .watch-tip {
        position: absolute;
        top: 0;
        left: 0;
        width: 31px;
        height: 31px;
        background-color: #0c4eca;
        border-radius: 100%;
        color: #fff;
        padding: 8px;
        cursor: pointer;
        line-height: 15px;
        font-size: 18px;
        text-align: center
}
    .product-section .product-section-watch > .watch-tip:hover::before {
        content: "";
        position: absolute;
        top: -7px;
        left: -7px;
        width: 40px;
        height: 40px;
        border: 3px solid #0c4eca;
        background-color: transparent;
        border-radius: 50%;
}
    .product-section .product-section-watch > .watch-tip:nth-child(1) {
        top: 154px;
        left: -5px;
}
    .product-section .product-section-watch > .watch-tip:nth-child(2) {
        top: 54px;
        left: 299px;
}
    .product-section .product-section-watch > .watch-tip:nth-child(3) {
        top: 260px;
        left: 215px;
}
    .product-section .product-section-watch > .watch-tip:nth-child(4) {
        top: 370px;
        left: 4px;
}

.hiw-section {}
    .hiw-steps {
        position: relative;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
}
    .hiw-steps > .hiw-step {
        float: left;
        width: 33.333333%;
        padding: 20px;
        position: relative;
}
    .hiw-steps > .hiw-step > .hiw-step-image {
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto;
}
    .hiw-steps > .hiw-step > .hiw-step-title {
        color: #374048;
        font-size: 25px;
        margin-bottom: 10px;
}
    .hiw-steps > .hiw-step > .hiw-step-description {
        color: #737c85;
        font-size: 16px;
        line-height: 26px;
}
    .hiw-steps > .hiw-step > .hiw-step-arrow {
        position: absolute;
        display: block;
        top: 60px;
        right: -5px;
        width: 20px;
        height: 20px;
        border-top: 1px solid #a6afba;
        border-right: 1px solid #a6afba;
        transform: rotate(45deg);
}

.benefits {}
    .bsteps {
        position: relative;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 40px;
    }
    .bsteps > .bstep {
        float: left;
        width: 33.333333%;
        padding: 5px;
        position: relative;
        padding-bottom: 30px;
    }
    .bsteps > .bstep > .bstep-title {
        color: #374048;
        font-size: 20px;
        margin-bottom: 10px;
        padding-left: 50px;
    }
    .bsteps > .bstep > .bstep-description {
        color: #82898f;
        font-size: 14px;
        line-height: 26px;
        padding-left: 50px;
    }

.watch {}
    .row {
        display: block;
        margin-bottom: 20px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .column {
        display: block;
        width: 33.333333%;
        padding: 5px;
        position: relative;
        float: left;
    }
    .column > .columnsteps {
        position: relative;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 38px;
    }
    .column > .columnsteps > .columnstep {
        position: relative;
    }
    .column > .columnsteps > .columnstep > .column-title {
        color: #374048;
        font-size: 20px;
        margin-bottom: 10px;
        padding-left: 45px;
    }
    .column > .columnsteps > .columnstep > .column-description {
        color: #82898f;
        font-size: 14px;
        line-height: 26px;
        padding-left: 45px;
    }
    .column > .column-image {
        padding-left: 17px;
    }

.collection {}
    .collection-steps {
        position: relative;
        display: block;
        list-style: none;
        margin: 0 -20px;
        padding: 0;
    }
    .collection-steps > .collection-step {
        float: left;
        width: 25%;
        padding: 40px 20px;
        position: relative;
        text-align: center;
    }
    .collection-steps > .collection-step > .collection-img {
        display: block;
        width: 230px;
        height: 230px;
        vertical-align: middle;
        text-align: center;
    }
    .collection-steps > .collection-step > .collection-title {
        color: #FF1900;
        font-size: 16px;
        margin: 5px auto 0 auto;
    }
    .collection-steps > .collection-step > .collection-description {
        color: #b4bcc3;
        font-size: 13px;
        margin: 2px auto;
    }
    .collection-steps > .collection-step > .collection-price {
        color: #2FCA2D;
        font-size: 19px;
        padding: 10px auto;
    }
    .collection-steps > .collection-step > .collection-button {
        text-decoration: none;
        border-radius: 30px;
        padding: 7px 30px;
        border: 1px solid #e1e4e7;
        color: #b4bcc3;
        text-transform: uppercase;
        font-size: 12px;
    }
    .collection-steps > .collection-step > .collection-button:hover {
        background-color: #374048;
        color: #fff;
    }

.big-watch {}
    .big-watch > .row1{
        margin: 0;
        padding: 0;
        position: relative;
    }
    .rowleft {
        width: 50%;
        margin: 0;
        padding: 0;
        position: relative;
        float: left;
    }
    .rowright {
        width: 50%;
        margin: 0;
        padding: 0;
        position: relative;
        float: right;
    }
    .big-watch-title {
        text-align: left;
        color: #374048;
        font-size: 48px;
        text-transform: uppercase;
        line-height: 29px;
        margin-bottom: 0;
        margin-top: 70px;
    }
    .big-watch-description {
        text-align: left;
        font-size: 20px;
        color: #969da3;
        line-height: 32px;
        margin: 25px auto 0 auto;
        position: relative;
        padding-bottom: 60px;
    }
    .big-watch-description::after {
        content: "";
        position: absolute;
        bottom: 28px;
        left: 0;
        width: 80px;
        height: 6px;
        background-color: #eee;
    }
    .big-watch-steps {
        position: relative;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .big-watch-steps > .big-watch-step {
        color: #696f74;
        font-size: 20px;
    }
    .big-watch-steps > .big-watch-step > .big-watch-list:before {
        width: 32px;
        height: 32px;
        margin-right: 17px;
        content: '';
        background: url(../img/check.png) no-repeat scroll 0 0;
        float: left;
    }
    .big-watch-img {
        padding-left: 180px;
    }

.apps {}
    .apps-wrapper {
        width: 100%;
        font-size: 0;
    }
    .apps-wrapper > .split-top {
        position: relative;
    }
    .apps-wrapper > .split-bot {
        position: relative;
    }
    .split-top > .top-left {
        width: 50%;
        float: left;
    }
    .split-top > .top-left > .top-left-img {
        width: 100%;
        vertical-align: middle;
    }
    .split-bot > .bot-right > .bot-right-img {
        width: 100%;
        vertical-align: middle;
    }
    .split-top > .top-right-wrapper {
        width: 50%;
        float: left;
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .top-right-wrapper > .top-right {
        width: 540px;
        height: 100%;
        font-size: 24px;
        float: left;
        vertical-align: middle;
        padding: 0 0 0 27px;
    }
    .apps-title {
        color: #374048;
    }
    .apps-description {
        color: #c0cad0;
        font-size: 18px;
        line-height: 32px;
    }
    .split-bot > .bot-right {
        width: 50%;
        float: right;
    }
    .split-bot > .bot-left-wrapper {
        width: 50%;
        float: left;
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 0;
    }
    .bot-left-wrapper > .bot-left {
        width: 540px;
        font-size: 24px;
        float: right;
        padding: 0 27px 0 0;
        vertical-align: middle;
    }


.reviews {}
    .review-steps {
        position: relative;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .review-steps > .review-step {
        float: left;
        width: 33.333333%;
        padding: 20px;
        position: relative;
    }
    .review-steps > .review-step > .review-description {
        color: #353535;
        font-size: 17px;
        line-height: 29px;
        text-align: center;
        margin-bottom: 20px;
    }
    .review-steps > .review-step > .quote-img {
        padding-left: 42%;
    }
    .review-steps > .review-step > .review-img {
        padding-left: 17%;
        margin-bottom: 100px;
        opacity: 0.33;
    }
    .featured-title {
        text-transform: uppercase;
        text-align: center;
        color: #374048;
        font-size: 22px;
        margin-bottom: 30px;
    }
    .featured-row {
        position: relative;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .featured-row > .featured-img {
        float: left;
        width: 16.666666%;
        padding: 5px;
        position: relative;
        vertical-align: middle;
        padding-bottom: 50px;
        opacity: 0.5;
    }
    .featured-img.second {
        margin-top: -2px;
    }
    .featured-img.third {
        margin-top: 2px;
    }
    .featured-img.last {
        margin-top: -9px;
    }

.faq {}
    .faq-mail {
        color: #FF1900;
        text-decoration: none;
    }
    .faq-mail:hover {
        color: darkslategray;
    }
    .faq-row {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
    }
    .faq-row > .faq-step {
        float: left;
        width: 50%;
        padding: 20px;
        position: relative;
    }
    .faq-row > .faq-step > .faq-title {
        color: #374048;
        font-size: 20px;
        margin-bottom: 0;
    }
    .faq-row > .faq-step > .faq-description {
        color: #82898f;
        font-size: 15px;
        line-height: 25px;
        margin-top: 5px;
    }

.tech-specs {}
    .specs-steps {
        position: relative;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .specs-steps > .specs-step {
        float: left;
        width: 33.333333%;
        padding: 20px 60px 40px 60px;
        position: relative;
        border-top: 1px solid #ebebeb;
    }
    .specs-steps > .specs-step > .specs-step-title {
        color: #374048;
        font-size: 20px;
    }
    .specs-steps > .specs-step > .specs-step-description {
        color: #82898f;
        font-size: 15px;
        line-height: 25px;
    }

.meet-team {}
    .team-members-wrapper {
        font-size: 0;
        text-align: center;
    }
    .team-members {
        font-size: 14px;
        width: 25%;
        float: left;
        padding: 15px;
        background-color: white;
        background-clip: content-box;
    }
    .team-members-photos {
        width: 100%;
    }
    .team-member-name {
        color: #333;
        font-weight: 700;
        font-size: 20px;
    }
    .team-member-position {
        color: #82898f;
        font-weight: 300;
    }

.timeline {
    margin-bottom: 40px;
}
    .timeline-row {
        position: relative;
        margin-top: 40px;
    }
    .timeline-row:before {
        content: '';
        width: 8px;
        height: 100%;
        display: block;
        position: absolute;
        left: calc(50% - 4px);
        background-color: #dee0e2;
    }
    .timeline-row > .timeline-post {
        position: relative;
        padding: 0;
        text-align: center;
    }
    .timeline-row > .timeline-post > .timeline-post-now {
        color: #bfc2c5;
        background: #dee0e2;
        padding: 0 30px;
        display: inline-block;
        font-size: 15px;
        line-height: 35px;
        border-radius: 4px;
        position: relative;
        text-transform: uppercase;
    }
    .timeline-row > .timeline-posts {
        position: relative;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .timeline-row > .timeline-posts > .timeline-line {
        width: 45%;
        position: relative;
        display: inline-block;
    }
    .timeline-row > .timeline-posts > .timeline-line:before {
        background: #fff;
        content: '';
        width: 15px;
        height: 15px;
        display: block;
        border: 6px solid #dee0e2;
        border-radius: 100%;
        position: absolute;
        top: 43px;
        left: -65px;
    }
    .inner {
        color: #6a737b;
        font-size: 18px;
        line-height: 15px;
        border-radius: 5px;
        padding: 20px 25px;
        background-color: #f5f8fa;
        margin: 30px 0;
        display: inline-block;
    }
    .inner-description {
        color: #b7bbbf;
        font-size: 14px;
        line-height: 24px;
        display: inline-block;
        margin-right: 150px;
    }
    .inner.preview {
        margin-top: 130px;
    }
    .timeline-row > .timeline-posts > .timeline-date-left {
        color: #dadce0;
        font-size: 18px;
        line-height: 75px;
        text-align: right;
        padding: 20px 0;
        float: left;
        position: relative;
    }
    .timeline-row > .timeline-posts > .timeline-date-right {
        color: #dadce0;
        font-size: 18px;
        line-height: 75px;
        text-align: left;
        padding: 20px 0;
        float: right;
        position: relative;
    }
    .timeline-row > .timeline-posts > .timeline-title-left {
        text-align: right;
        float: left;
        position: relative;
    }
    .timeline-row > .timeline-posts > .timeline-title-right {
        text-align: left;
        float: right;
        position: relative;
    }

.section.mobile-app {
    background-color: #000;
    position: relative;
    background-size: cover;
    padding: 0;
}
    .mobile-app:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../img/mobile-ap-bg.jpg) center no-repeat;
        opacity: 0.3;
        background-size: cover;
    }
    .row2 {
        margin: 0;
        padding: 0;
        position: relative;
    }
    .row2 > .rowleft {
        width: 50%;
        margin: 100px 0 0 0;
        padding: 0;
        position: relative;
        float: left;
    }
    .row2 > .rowright {
        width: 50%;
        margin: 90px 0 0 0;
        padding: 0;
        position: relative;
        float: right;
    }
    .rowleft > .mobile-app-img {
        padding-right: 40px;
    }
    .rowright > .mobile-app-title {
        color: #fff;
        font-size: 50px;
        line-height: 1;
        margin-top: 88px;
        margin-bottom: 20px;
        padding-left: 5px;
    }
    .rowright > .mobile-app-description {
        color: #fff;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 25px;
        padding-left: 5px;
    }
    .rowright > .mobile-app-button {
        margin-bottom: 15px;
        padding-left: 5px;
        margin-right: 15px;
    }

.newsletter {}
    .email-block {
        margin-top: 70px;
    }
    .email-form {
        max-width: 720px;
        position: relative;
        left: calc(50% - 720px / 2);
        top: 0;
    }
    .input-block {
        position: relative;
        display: table;
        border-collapse: separate;
    }
    .form-control {
        display: table-cell;
        font-size: 16px;
        font-weight: 300;
        width: 550px;
        height: 80px;
        line-height: 80px;
        padding: 0 38px 0 38px;
        border: 1px solid #e0e8ee;
        z-index: 2;
        float: left;
        background-color: #f8fbfd;
    }
    .form-control:hover {
        background-color: white;
    }
    .input-group-addon {

    }
    .subscribe-button {
        position: relative;
        width: 130px;
        height: 80px;
        background-color: #FF1900;
        border: 1px solid #ccc;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .subscribe-button:hover {
        background-color: #555;
    }
    .angle {
        position: absolute;
        top: calc(50% - 35px / 2);
        right: calc(50% - 21px / 2);
    }
    .mail-underline {
        text-align: center;
        margin-top: 10px;
        color: #c0cad0;
        line-height: 24px;
    }
    .lock {
        margin-right: 10px;
        vertical-align: middle;
    }

.map-section {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 60px 0 0 0;
}
#map {
    width: 100%;
    height: 546px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.4;
}
.get-in-touch {
    position: relative;
    top: calc(50% - 406px / 2);
    left: calc(50% - 546px / 2);
    width: 550px;
    height: 406px;
    padding: 40px;
    background-color: white;
}
.get-in-touch > h1 {
    color: #374048;
    margin: 0;
}
.contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.get-description {
    font-size: 16px;
    line-height: 2;
    margin: 0;
    padding: 0;
}
.contact-list > li {
    position: relative;
    padding-left: 40px;
    margin-top: 5px;
    color: #a5aeb3;
}
.m-marker:before {
    position: absolute;
    left: 6px;
    top: 25px;
}
.m-phone:before {
    position: absolute;
    left: 6px;
    top: 25px;
}
.m-letter:before {
    position: absolute;
    left: 6px;
    top: 25px;
}
.contact-button {
    position: relative;
    bottom: -5%;
    width: 100%;
    height: 65px;
    padding-left: 0;
    background-color: #FF1900;
    font-size: 19px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    line-height: 65px;
    text-align: center;
}
.contact-button:hover {
    background-color: #374048;
}

.footer {}
    .social-links {
        padding: 60px 0 40px 0;
        border-bottom: 1px solid #e9eef2;
        display: block;
    }
    .social-links > .links-icons {
        list-style: none;
        margin: 0 auto;
        display: table;

    }
    .social-links > .links-icons > .link-step {
        float: left;
        position: relative;
        display: block;
        margin: 7px;
    }
    .link-step > a {
        background-color: #ffa399;
        color: #fff;
        position: relative;
        border-radius: 100%;
    }
    .m-link {
        font-size: 2em;
        position: relative;
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: 2em;
        vertical-align: middle;
    }
    .link-step > a:hover {
        background-color: #3b3b3b;
    }
    .menu-rights {
        margin: 0;
        padding: 35px 0;
    }
    .rights-steps {
        margin: 0 auto 19px;
        display: table;
    }
    .rights-steps > .rights-step {
        float: left;
        display: block;
        padding: 0;
    }
    .rights-step > a {
        color: #ffa399;
        text-decoration: none;
        font-size: 15px;
        line-height: 1;
    }
    .rights-step > a:hover {
        color:#3b3b3b;
    }
    .rights-steps li+li:before{
        content: '\2022';
        float: left;
        padding: 0 13px;
        line-height: 20px;
        display: block;
        color: #ffa399;
    }
    .menu-rights > .copyright {
        text-align: center;
        color: #c3cbd1;
        font-size: 15px;
        line-height: 1;
    }