body {
        margin: 0;
        font-family: sans-serif;
}

* {
        box-sizing: border-box;
}

.clearfix {
        overflow: auto;
}

.container {
        display: block;
        width: 1024px;
        margin: 0 auto;
}

.header-wrapper {
        background-color: #E6E7E8;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
}

.header {
        height: 66px;
}

.header-logo {
        float: left;
        display: block;
        padding: 3px 0;
}

ul.header-nav {
        float: right;
        padding: 3px 0;
        margin: 0;
        list-style-type: none;
}

ul.header-nav > li {
    display: inline-block;
}

ul.header-nav > li > a {
        color: #8f969d;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
        display: inline-block;
        padding: 19px 10px;
}

ul.header-nav > li > a:hover{
        color: black;
}

ul.header-nav > li.last-button > a {
        background-color: #ff6622;
        border: none;
        border-radius: 30px;
        padding: 11px 35px;
        color: #fff;
}

ul.header-nav > li.last-button > a:hover {
        background-color: black;
}

.product {
        background: url("../img/header-background.jpg") center no-repeat;
        height: 1000px;
        position: relative;
        margin-top: 60px;
        text-align: center;
}

        .product-title{
                color: #374848;
                font-size: 79px;
                padding-top: 50px;
        }

        .product-description {
                color: #8a9095;
                font-size: 27px;
                padding: 0 130px;
                line-height: 44px;
        }

        .product-cta {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 27px;
                background-color: green;
                padding: 20px;
                border-radius: 30px;
                margin-top: 40px;
                display: inline-block;
        }

        .product-image {
                position: absolute;
                width: 290px;
                height: 328px;
                bottom: 40px;
                left: 50%;
                margin: 0 0 0 -125px;
        }

        .product-cta:hover{
                background-color: black;
        }

.the-product  {
        text-align: center;
}

        .the-product-title{
                color: #374848;
                font-size: 60px;
                padding-top: 40px;
                text-transform: uppercase;
        }

        .the-product-description {
                color: #8a9095;
                font-size: 20px;
                padding: 0 190px;
                line-height: 44px;
        }

        .the-product-underscore {
                font-size: 79px;
                color: #eee;
        }

        .the-product-image {
                position: relative;
        }

        .topright {
                position: absolute;
                color: #fff;
                border-radius: 100px;
                background-color: #0084ff;
                font-size: 20px;
                padding: 7px;
                display: block;
                width: 38px;
                top: 50px;
                left: 620px;
                animation: doublePulse 1.5s ease
        }

        .bottomright {
                position: absolute;
                color: #fff;
                border-radius: 100px;
                background-color: #0084ff;
                font-size: 20px;
                padding: 7px;
                display: block;
                width: 38px;
                top: 250px;
                left: 530px;
        }

        .topleft {
                position: absolute;
                color: #fff;
                border-radius: 100px;
                background-color: #0084ff;
                font-size: 20px;
                padding: 7px;
                display: block;
                width: 38px;
                top: 145px;
                left: 320px
        }

        .bottomleft {
                position: absolute;
                color: #fff;
                border-radius: 100px;
                background-color: #0084ff;
                font-size: 20px;
                padding: 7px;
                display: block;
                width: 38px;
                top: 360px;
                left: 340px;
        }

        div.the-product-image > span:hover {
                border: 2px solid;
        }

.how-it {
        text-align: center;
        position: relative;
        background-color:  #f8fbfd;
}
        .how-it-title {
                color: #374848;
                font-size: 60px;
                padding-top: 40px;
                text-transform: uppercase;
        }

        .how-it-description {
                color: #8a9095;
                font-size: 20px;
                padding: 0 180px;
                line-height: 44px;
        }

        .connect-device {
                display: inline-block;
                width: 33%;
                margin: 0;
        }

        .configure {
                display: inline-block;
                width: 33%;
                margin: 0;
        }

        .done {
                display: inline-block;
                width: 33%;
                margin: 0;
        }

        .desktop-title {
                font-size: 30px;
                text-align: center;
        }

        .desktop-description {
                text-align: center;
                font-size: 17px;
                color: #8a9095;
                padding: 0 10px;
        }
        .leftarrow {
                position: absolute;
                top: 360px;
                left: 640px;
                width: 20px;
                height: 30px;
        }

        .rightarrow {
                position: absolute;
                top: 360px;
                right: 640px;
                width: 20px;
                height: 30px;
        }